pipeline/pl_qualifying_results.json
{
	"name": "pl_qualifying_results",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_web_race_schedule",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_web_race_schedule').output['MRData']['RaceTable']['Races']",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_copy_qualifying",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_season_rest",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(item().season,'/',item().round,'/qualifying.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_seasons",
									"type": "DatasetReference",
									"parameters": {
										"directory_nm": "qualifying"
									}
								}
							]
						},
						{
							"name": "act_copy_results",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_copy_qualifying",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_season_rest",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(item().season,'/',item().round,'/results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_seasons",
									"type": "DatasetReference",
									"parameters": {
										"directory_nm": "results"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "act_web_race_schedule",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://ergast.com/api/f1/',pipeline().parameters.season,'.json')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"season": {
				"type": "string",
				"defaultValue": "2012"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-26T18:09:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}